<div class="yourPosts">
    <div class="name">~{{user.name}} - {{format_time this.createdAt}} {{format_date this.createdAt}}
    </div>
    <div class="postTitle">
        {{this.title}}
    </div>
    <div class="postContent">
        {{this.post}}
    </div>
    <section class="comments">
        {{#each Comments as |comment|}}
        <div class="name">~ {{comment.user_id}}</div>
        <div class="comments">{{comment.comments}}</div>
        {{/each}}
    </section>
</div>

<h4>Add a new comment below</h4>
<form class="form new-post-form">
    <div class="form-group">
        <label for="project-content">Comment:</label>
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
    </div>
    <div class="form-group">
        <button type="button" class="commentBtn btn-primary" data-id={{this.id}}>Post</button>
    </div>
</form>




<script src="/js/comment.js">
</script>